/* Estilos del Nosotros */

#beneficio {
  margin-top: 2rem;
}

.tituloTexto {
  font-size: 50px;
}

.beneficiosCaja {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.beneficios {
  flex-basis: 50%;
}

.beneficiosImg {
  flex-basis: 50%;
  margin: auto;
}

.beneficiosImg img {
  width: 70%;
  opacity: 0.9;
  border-radius: 20px;
}

.beneficios h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100 !important;
  color: #f342af;
}

.beneficiosDesc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.beneficioIcono .fa {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #f342af;
  border: 1px solid rgb(243, 66, 175);
}

.beneficioTexto p {
  padding: 0 20px;
  text-align: initial;
}



/* Estilos de Testimonios */
.indexSubti {
    margin: 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1rem;
    font-size: 26px;
    background-color: rgba(253, 251, 223, 0.938);
}

section .testimonios .animate__animated .animate__fadeInLeft {
  --animate-duration: 10s;
}

.testimonios{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}

  .testimonios__header h1{
    font-size:2.9rem;
    font-weight:500;
    background-color:#202020;
    color:white;
    padding:10px 10px;
}

.testimonios__contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
}

.testimonios__caja{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color:white;
    padding:20px;
    margin:15px;
    cursor:pointer;
}

.perfil-img{
    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
    margin-right:30px;
}

.perfil-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:center;
}

.perfil{
    display:flex;
    align-items:center;
}

.name-user{
    display:flex;
    flex-direction: column;
}

.name-user strong{
    color: #3d3d3d;
    font-size:1rem;
    letter-spacing:0.5px;
}

.name-user span{
    color:#979797;
    font-size:0.9rem;
}

.reseñas{
    color:#f9d71c;
}

.caja-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}

.clientes__comentarios p{
    color:#4b4b4b;
}

::selection{
    color:white;
    background-color:#252525;
}

div article {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-style: italic;
}

// Responsive de Página inicio 
@media screen and (max-width: 780px) {
  
  .tituloTexto {
    font-size: 35px;
  }

  .beneficios {
    flex-basis: 100%;
  }

  .beneficiosImg {
    flex-basis: 100%;
  }

  .beneficiosImg img {
    width: 100%;
  }

}