/* Estilos de pagina CURSOS */

#banner {
    background: url(../img/bannercurso.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.8;
}

.tituloCurso {
    background-color: rgb(255, 250, 200);
    background-color: rgba(252, 241, 241, 0.925);
    color: rgb(243, 66, 175);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    border-radius: 10px; 
}

.textoCurso {
    color: rgb(14, 123, 190);
    font-size: 17px;
    font-weight:600;
    text-align: center;
}


/* Estilos Página Asesorias */

.formAsesorias {
    width: 50%;
    margin: auto;
    background-color: rgba(252, 241, 241, 0.925);
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(240, 91, 202, 0.6);
}

form label {
    font-weight: 500;
    border-radius: 5px;
}

.formPart {
    padding: 10px;
}

// Estilos Página Noticias//

.card {
    width: 70%;
    justify-content: center;
    opacity: 0.7;
    margin: 0 auto;
    .card-header {
    background-color: rgb(243, 66, 175) ;
    color: rgb(255, 250, 200);
    }
    .card-title {
        font-size: 30px;
    }
}

section .quote {
    margin-top: 70px ;
    margin-bottom: 50px;
}


/* Estilos Página Contacto */
.contactoTit {
    font-size: 26.8px;
}

.contactoSub {
    font-size: 23px;
}


.formContacto {
    width: 50%;
    margin: auto;
    background-color: rgba(249, 225, 255, 0.925);
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(208, 155, 243, 0.6);
    margin-top: 3rem;
}

form label {
    font-weight: 500;
    border-radius: 5px;
}


.separacionForm {
    margin-top: 15px;
    margin-bottom: 10px;
}


//Pagina Error 404
.pagError {
    margin: 20px;
}


// Responsive de páginas
@media screen and (max-width: 780px) {

    h1, h2 {
        text-align: center;
    }

    .contactoTit {
        margin: 5px;
    }

    .contactoSub {
        margin: 5px;
    }

    .formContacto {
        width: 90%;
    }

    .formAsesorias {
     width: 90%;
 }
    .card {
    width: 100%;

        .card-title {
        font-size: 20px;
        }
    }
}
