/* Estilos de los títulos y subtitulos */
h1, h2, h3, h4, h5 {
    color: rgb(243, 66, 175);
    margin-top: 2rem;
    padding-left: 20px;
    background-color: rgba(252, 241, 241, 0.925);
}

/* Estilo de todos los botones */
.boton {
    margin-top: 3px;
    border: 1px solid rgb(14, 123, 190); 
    padding: 7px;
    background-color: rgb(14, 123, 190);
    color: #ffffff; 
    text-decoration: none;
    border-radius: 50px;
    font-size: small;
}